*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*encabezado*/
header{
    background-color: rgb(139, 0, 0);
    display: flex;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.596);
    height: 70px;
  }
  
  .logo{
    display: flex;
    }
    
    .logo img{
        height: 60px;
        margin-left: 200px;
        }
    
    .encabezado{
        padding: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 70%;
    }
    
    .enlaces{
        display: flex;
        gap: 30px;
    
    }
    
    .enlaces a{
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-family: "Josefin Sans", sans-serif;
        font-weight: bold;
        padding: 20px;
        font-size: 15px;
        text-shadow: 3px 3px 2px rgba(41, 41, 41, 0.74);
    }
    
    .enlaces a:hover{
        color: rgb(199, 0, 0);
        transition: .4s ease;
    }

    a {
        text-decoration: none;
      }
    
      ul{
        list-style: none;
      }
    
      .nav li a{
        text-decoration: none;
        background-color: rgb(139, 0, 0);
        padding: 10px 15px;
        display: block;
       
      }
    
      nav > li{
        float: left;
      }
    
      .nav li ul {
        display: none;
        position: absolute;
        min-height: 140px;
        padding-top: 10px;
        
      }
    
      .nav li:hover > ul{
        display: block;
      }
    
    
    